/*MAPS*/
/*EXTEND*/
.titulo {
  display: flex;
  justify-content: center; }

.header .menu-navegacion {
  display: flex;
  justify-content: space-evenly; }

.footer, .footer .footer-content .social-media {
  display: flex;
  justify-content: space-around; }

.titulo {
  font-size: 45px;
  font-family: 'Diplomata SC', cursive;
  color: #B61616;
  margin-bottom: 0px;
  margin: 15px; }

.sub-titulo {
  font-size: 20px;
  margin: 0px auto 25px auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  margin-bottom: 15px; }
  .header .menu-navegacion {
    background-color: #3B3838;
    width: 100%;
    border-radius: 3px;
    padding: 10px; }
    .header .menu-navegacion a {
      color: #ffff;
      font-size: 30px;
      text-decoration: none;
      padding: 7px 7px;
      border-radius: 3%; }

.main .imagen-principal {
  max-width: 100%;
  max-height: 100%;
  margin-top: 40px;
  margin-bottom: 8px; }

.main .contenedorDos {
  display: grid;
  grid-template-columns: 40% 60%; }

.main .imagen-secundaria {
  width: 100%; }

.main .texto {
  width: 50%;
  margin: auto;
  font-size: 35px;
  text-align: center; }

.footer .footer-content {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 15px; }
  .footer .footer-content .social-media .textDecoration {
    text-decoration: none;
    color: #B61616; }
    .footer .footer-content .social-media .textDecoration h3 {
      padding: 10px;
      font-size: 30px;
      cursor: pointer;
      background-color: #ffff; }
