* {
    margin: 0;
    padding: 0;
    
}
.body {
    overflow-x:hidden
}
:root {
    --blanco: #ffffff;
    --rojo: #B61616;
    --negro: #3B3838;
    --negronav: #100F0F;   
}
.cabecera {
    margin-bottom: 60px;
}
.titulo {
    font-size: 44px;
    text-align: center;
    color: var(--rojo);
    font-family: 'Diplomata SC', cursive;
    margin-bottom: 0px;
    margin: 15px;
}
/*Hover*/
h1:hover {
    cursor: pointer;
    text-decoration:underline;

}
.sub-titulo {
    text-align: center;
    font-size: 20px;
    margin: 0px auto 25px auto;
    justify-content: center;
}
.nav-link {
     font-size: 24px;
     color: var(--negronav);
}
.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background: var(--rojo) !important
}
.nav {
    border: solid 1px;
    border-radius: 5px;
}
.navegador {
    margin-bottom: 45px;
}
.contenedor-imagen {
    margin-bottom: 45px;
}
.texto {
    font-size: 28px;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
.contenedor-imagenes {
    margin-bottom: 45px;
}
/**Galeria**/
.carousel-inner {
    height: 80%;
    width: 50%;
    margin: auto;
    margin-bottom: 45px;
} 
.carousel-control-prev-icon {
    background-color: var(--negronav);
}
.carousel-control-next-icon {
    background-color: var(--negronav);
}
/**Productos**/
#productos .col-lg-4 {
    margin: 0;
    padding: 25px;
}
#productos img {
    width: 100%;
    height: 400px;
}
#productos img:hover {
    cursor: pointer;
    border: 5px solid;
}
/**Nosotros**/
.container-nosotros {
    margin-top: 40px;
}
.texto-nosotros {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 55px;
}
.container-map {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

/**Formulario**/ 
.formulario {
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 0 10px 1px rgb(0,0,0,0.3);
    position: relative;
}
.formularioTitulo {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
}
.formularioInput, .formularioLabel, .formularioSubmit {
    display: block;
    width: 93%;
    font-size: 1.3em;

}
.formularioInput {
    margin-left: 18px;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}
.formularioInput:focus {
    outline: 1px solid rgba(0,0,0, 0.7);
}
.formularioInput:focus + .formularioLabel{
    margin-top: -135px;
    
}
.formularioLabel {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}
.formularioSubmit{
    margin: auto;
    background: rgb(0,0,0,0.7);
    color: var(--blanco);
    padding: 10px 20px;
    cursor: pointer;
    border: none;

}
.fijar {
    margin-top: -135px;
}
footer a {
    font-size: 22px;
    text-decoration: none;
}
.texto-footer {
    font-size: 18px;
}

/**Mediaquerys**/
@media screen and (min-width:1317px) and (max-width: 1414px) {
    .texto {
        font-size: 25px;
    }
}
@media screen and (min-width:1200px) and (max-width: 1316px) {
    .texto {
        font-size: 22px;
    }
}
@media screen and (min-width:1100px) and (max-width: 1205px) {
    .texto {
        font-size: 19px;
    }
}
@media screen and (min-width:900px) and (max-width: 1099px) {
    .texto {
        font-size: 16px;
    }
}
@media screen and (min-width:768px) and (max-width: 899px) {
    .texto {
        font-size: 15px;
    }
}
