.titulo {
   @extend %flex-center;
   font-size: map-get($tamanio-fuente,titulo);
   font-family: 'Diplomata SC', cursive;
   color: map-get($colores,color-principal);
   margin-bottom: 0px;
   margin: 15px;
}
.sub-titulo {
    font-size: map-get($tamanio-fuente,subtitulo);
    margin: 0px auto 25px auto;
    @include flexbox(center,center)
    // text-align: center;
    // justify-content: center;
}
.header {
    margin-bottom: 15px;
    .menu-navegacion {
        @extend %flex-evenly;
        background-color: map-get($colores,color-nav);
        width: 100%;
        border-radius: 3px;
        padding: 10px;
        
        a {
            color: map-get($colores,color-fuente);
            font-size: map-get($tamanio-fuente,textos);
            text-decoration: none;
            padding: 7px 7px;
            border-radius: 3%;
        }

    }
}
.main {

    .imagen-principal {
        max-width: 100%;
        max-height: 100%;
        margin-top: 40px; 
        margin-bottom: 8px;
    }

    .contenedorDos {
            display: grid;
            grid-template-columns: 40% 60%;
        }
        .imagen-secundaria {
            width: 100%; 
        }   
        .texto {
            width: 50%;
            margin: auto;
            font-size: map-get($tamanio-fuente,textoSecundario);
            text-align: center;
            
        }
}
.footer {
    @extend %flex-around;

        .footer-content {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 15px;

            .social-media {
                @extend %flex-around;

                .textDecoration {

                    text-decoration: none;  
                    color: map-get($colores,color-principal);

            

                        h3{
                            padding: 10px;
                            font-size: map-get($tamanio-fuente,textos);
                            cursor: pointer;
                            background-color: map-get($colores,color-fuente);

               
                        }
                }
            }
                
            
        }
}